<a href="https://colab.research.google.com/github/Non8q/IT326-Adult-Census-Income/blob/main/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Project Goal :**

The primary objective of this project is to develop and apply robust predictive data mining techniques to the Adult Census Income dataset, aimed at identifying the key socio-economic determinants of financial status. The project employs Classification (Decision Trees) to accurately predict whether an individual's annual income exceeds $50,000, while simultaneously utilizing Clustering (K-means) to uncover hidden patterns and distinct socio-economic profiles within the population based on attributes such as education, occupation, and age. By integrating these dual approaches, the project aims to provide actionable insights into income distribution and economic mobility, ultimately offering a data-driven understanding of the factors that contribute to financial stability and social stratification

# **Dataset Source**
 Adult Census Income - Kaggle :

[https://www.kaggle.com/datasets/uciml/adult-census-income]

In [11]:
import pandas as pd
df = pd.read_csv("Raw_dataset.csv")


# **Dataset Description**

In [12]:
print("-- Dataset General Information --")
print(f"Number of objects : {df.shape[0]}")
print(f"Number of attributes : {df.shape[1]}")

print("\n-- Data Types of Attributes --")
print(df.info())

-- Dataset General Information --
Number of objects : 32561
Number of attributes : 15

-- Data Types of Attributes --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [13]:
print("\n--Class Attribute Distribution (income) --")
print(df['income'].value_counts())

--Class Attribute Distribution (income) --
income
<=50K    24720
>50K      7841
Name: count, dtype: int64

# Sample of the Raw Dataset :

In [15]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K